<body>

<div class="alldiv">
<nav id="toolbar">
  <div class="container">
  <ul>
    <li class="dropdown"><a href="#">Tools <i class="icon-caret-down"></i><i class="icon-sort"></i></a>
      <ul class="sub">
        <li><a href="#">Mapping Tools</a></li>
        <li><a href="#">Semantic Viewer</a></li>
        <li><a href="#">Cesium Viewer</a></li>
      </ul>
    </li>
    <li><a href="https://github.com/akiajk/gs-JSON">GitHUB</a></li>
    <li><a href="https://github.com/akiajk/gs-JSON/blob/master/README.md">Wiki</a></li>
    <li><a href="#">Viewer</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
  </div>
</nav>
<div class="form-style-2">
				<label for="inputType"><span>Select Translation</span><select id="inputType" class="select-field">
				</select></label>

				<label for="inputf"><span>Select Input File<span class="required">*</span></span><input type="file" class="file-input-field" name="inputf" id="inputf" value="" /></label>

				<label><span>&nbsp;</span><input type="submit" id="translate" value="Translate" /></label>
</div>
</div>
</body>